logging:
  config: classpath:logback.xml


## lets listen on all ports to ensure we can be invoked from the pod IP
#server.address=0.0.0.0
#management.address=0.0.0.0


#server:
#  port: 8080
#
## for example purposes of Camel version 2.18 and below
#baeldung:
#  api:
#    path: '/camel'
#
#camel:
#  springboot:
#    # The Camel context name
#    name: ServicesRest
#
## Binding health checks to a different port
#management:
#  port: 8081
#


## disable all management enpoints except health
#endpoints:
#  enabled: false
#  health:
#    enabled: true
#
## The application configuration properties
#quickstart:
#  generateOrderPeriod: 10s
#  processOrderPeriod: 30s


#camel.springboot.main-run-controller = true

camel:
  springboot:
    main-run-controller: true

spring:
  activemq:
    broker-url: tcp://localhost:61616

app:
  outbox-client:
    base: http://localhost:8080/restful/
    username: sven
    password: pass

