logging:
  config: classpath:logback.xml

camel:
  springboot:
    main-run-controller: true

spring:
  activemq:
    broker-url: tcp://localhost:61616

app:
  relay-mq:
    queue-name:
      memberInteractionsQueue
  polling-period: 10s
  outbox-client:
    base: http://localhost:8080/restful/
    username: sven
    password: pass
  tracing:
    tracing-type: zipkin
    zipkin:
      endpoint: http://localhost:9411/api/v2/spans
      service-name: ixn-relay
      rate: 1.0f
      include-message-body-streams: true

management:
  endpoint:
    jolokia:
      enabled: true

  endpoints:
    web:
      exposure:
        include: "*"
